<div class="container">

    <h3>Users</h3>

      <table class="table">
        <thead>
        <tr>
          <td>Name</td>
          <td>Email</td>
        </tr>
        </thead>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>

      </table>
    </div>
